@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rethink Sans", sans-serif;
    
}
.burger_menu button{
    all: unset; 
    cursor: pointer; 
    color: #0a1331;
    direction: none;
}
.size-6 {
  width: 27px;   
  height: 27px;
}

.burger_menu {
  position: relative;
}

.burger_links {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    border-radius: 3px;
    z-index: 1000;
    width: 270px;
    transition: .5s;
}

.burger_links a{
    text-decoration: none;
    color: #2c2f38;
}
.burger_links p{
    color: #2c2f38;
}
.burger_menu.open .burger_links {
  display: block;
}

.burger_links ul {
    width: 260px;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.burger_links li {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    transition: .5s;
    padding: 5px 5px;
    font-size: 15px;
}

.burger_links li > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    padding: 10px;
    min-width: 200px;
}

.burger_links li:hover > ul {
  display: block;
}

.burger_links li:hover {
    background-color: #f0f0f0; 
}

.burger_links li > a:hover {
    background-color: #f0f0f0;
    display: block;
}

.walt{
    width: 30px;
}

.logo img{
    width: 140px;
}
header{
    width: 100%;
    padding: 0px 20px 0px 10px;
}
.head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.hed_first{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.hed_second{
    display: flex;
    align-items: center;
}
.burger_links{
    padding: 10px;
    position: absolute;
}
.buisnes_link h2{
    font-size: 16px;
    color: #737d9b;
}
.heart{
    width: 30px;
}
.head_links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.head_links a{
    text-decoration: none;
    color: #737d9b;
    transition: .5s;
}
.log:hover{
    color: rgb(136, 209, 27);
}
.ad_post{
    padding: 10px 20px;
    background-color: #ff2366;
    border-radius: 20px;
    text-decoration: none;
    color: white !important;
}
.adv {
    width: 100%;
    height: 230px;
    overflow: hidden; 
}

.adv img {
    width: 100%;
    height: 100%;

}
.sicials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.sicials a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    overflow: hidden;
}
.socials a:hover {
    color: white;
}
.sicials svg{
    width: 20px;
}

.ctg_button{
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    outline: none;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    justify-content: center;
    padding: 10px 12px;
}
.ctg_button p{
    font-weight: 600;
    font-size: 16px;
}
.LFIcon.size-24 svg {
    font-size: 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
}
.LFIconCategories {
    margin-right: 12px;
}
.LFSubHeading {
    width: max-content;
}
.LFIcon {
    transition: 0.2s;
    outline: none;
}
.all-categories-button__content-container {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 212px;
}
.search_bar{
    padding: 16px 32px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 100;
    background: rgb(240, 242, 247);
    gap: 15px;
}
.LFSubHeading.size-16 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
}
.search-input-container {
    position: relative;
    width: 100%;
}
.css-1wveqn6 {
    position: relative;
    display: flex;
}
.size-24 svg {
    font-size: 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
}
.searchicon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.search-input {
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
    padding: 13px 48px;
    background: rgb(255, 255, 255);
    outline: none;
    width: 100%;
    border: 1px solid rgb(217, 221, 231);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-input-button {
    padding: 12px;
    background: rgb(34, 202, 70);
    margin-left: 0px;
    border: none;
    min-width: 164px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.categorys {
    width: 100%;
    background-color: rgb(240, 242, 247);
    padding: 10px 32px;
    display: flex;
    z-index: 1000;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.categorys.open {
    opacity: 1;
    max-height: 1000px; 
    pointer-events: auto;
}
.category_item svg{
    width: 20px;
}
.category_item{
    cursor: pointer;
    width: 277px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category_item span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.main_categorys{
    width: 290px;
    height: auto;
    border-radius: 15px 0px 0px 15px;
    background-color: white;
}
.main-categories{
    width: 100%;
}
.subcategorys{
    width: 100%;
    background-color: white;
    padding: 5px;
}
.subcategorys ul{
    list-style: none;
    width: 33%;
    font-size: 15px;
}
.subcategorys li{
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
}
.subcategorys li:hover{
    color: rgb(67, 210, 98);
}
.subcategorys ul p:hover{
    color: rgb(67, 210, 98);
}
.subcategorys{
    display: flex;
    flex-wrap: wrap;
}
.subcategorys ul p{
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 32px;
    gap: 16px; /* регулируемый отступ между карточками */
    box-sizing: border-box;
}

.card {
    width: calc((100% - 16px * 4) / 5); 
    height: 406px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
}
.card_image img{
    width: 100%;
    height: 218px;
    border-radius: 10px;
}

.old_price{
    text-decoration: line-through;
}
.price{
    font-weight: bold;
}
.category{
    color: rgb(115, 125, 155);
}
.discroption{
    display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
  overflow: hidden;
    text-overflow: ellipsis;
}
.card_infos{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user_icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}
.cards_section h1{
    margin-left: 38px;
}