@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rethink Sans", sans-serif;

}



.burger_menu button {
    all: unset;
    cursor: pointer;
    color: #0a1331;
    direction: none;
}

.size-6 {
    width: 27px;
    height: 27px;
}

.burger_menu {
    position: relative;
}

.burger_links {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    border-radius: 3px;
    z-index: 1000;
    width: 270px;
    transition: .5s;
}

.burger_links a {
    text-decoration: none;
    color: #2c2f38;
}

.burger_links p {
    color: #2c2f38;
}

.burger_menu.open .burger_links {
    display: block;
}

.burger_links ul {
    width: 260px;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.burger_links li {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    transition: .5s;
    padding: 5px 5px;
    font-size: 15px;
}

.burger_links li>ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    padding: 10px;
    min-width: 200px;
}

.burger_links li:hover>ul {
    display: block;
}

.burger_links li:hover {
    background-color: #f0f0f0;
}

.burger_links li>a:hover {
    background-color: #f0f0f0;
    display: block;
}



.logo img {
    width: 80px;
}

header {
    width: 100%;
    padding: 20px 10px;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.hed_first {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.hed_second {
    display: flex;
    align-items: center;
}

.burger_links {
    padding: 10px;
    position: absolute;
}

.buisnes_link h2 {
    font-size: 16px;
    color: #737d9b;
}

.heart {
    width: 30px;
}

.head_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head_links button {
    all: unset;
    text-decoration: none;
    color: #737d9b;
    transition: .5s;
    cursor: pointer;
}

.log:hover {
    color: #e83e2e;
}

.ad_post {
    all: unset !important;
    padding: 10px 20px !important;
    background-color: #e83e2e !important;
    border-radius: 20px !important;
    text-decoration: none;
    color: white !important;
}

.adv {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.adv img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sicials {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sicials a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    overflow: hidden;
}

.socials a:hover {
    color: white;
}

.sicials svg {
    width: 20px;
}

.ctg_button {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    outline: none;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    justify-content: center;
    padding: 10px 12px;
}

.ctg_button p {
    font-weight: 600;
    font-size: 16px;
}

.LFIcon.size-24 svg {
    font-size: 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.LFIconCategories {
    margin-right: 12px;
}

.LFSubHeading {
    text-align: center;
}

.LFIcon {
    transition: 0.2s;
    outline: none;
}

.all-categories-button__content-container {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 212px;
}

.search_bar {
    padding: 16px 32px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 100;
    background: rgb(240, 242, 247);
    gap: 15px;
}

.LFSubHeading.size-16 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
}

.search-input-container {
    position: relative;
    width: 100%;
}

.css-1wveqn6 {
    position: relative;
    display: flex;
}

.size-24 svg {
    font-size: 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.searchicon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.search-input {
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
    padding: 13px 48px;
    background: rgb(255, 255, 255);
    outline: none;
    width: 100%;
    border: 1px solid rgb(217, 221, 231);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-input-button {
    padding: 12px;
    background: #e83e2e;
    margin-left: 0px;
    border: none;
    min-width: 164px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.categorys {
    width: 100%;
    background-color: rgb(240, 242, 247);
    padding: 10px 32px;
    display: flex;
    z-index: 1000000;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.categorys.open {
    opacity: 1;
    max-height: 1000px;
    pointer-events: auto;
}

.category_item svg {
    width: 20px;
}

.category_item {
    cursor: pointer;
    width: 277px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_item span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main_categorys {
    width: 290px;
    height: auto;
    border-radius: 15px 0px 0px 15px;
    background-color: white;
}

.main-categories {
    width: 100%;
}

.subcategorys {
    width: 100%;
    background-color: white;
    padding: 5px;
}

.subcategorys ul {
    list-style: none;
    width: 33%;
    font-size: 15px;
}

.subcategorys li {
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
}

.subcategorys li:hover {
    color: #e83e2e;
}

.subcategorys ul p:hover {
    color: #e83e2e;
}

.subcategorys {
    display: flex;
    flex-wrap: wrap;
}

.subcategorys ul p {
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 32px;
    gap: 16px;
    /* регулируемый отступ между карточками */
    box-sizing: border-box;
}

.card {
    width: calc((100% - 16px * 4) / 5);
    height: 406px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

.card_image img {
    width: 100%;
    height: 218px;
    border-radius: 10px;
}

.old_price {
    text-decoration: line-through;
}

.price {
    font-weight: bold;
}

.category {
    color: rgb(115, 125, 155);
}

.discroption {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_infos {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user_icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.cards_section h1 {
    margin-left: 38px;
}

.cards_section {
    margin-top: 20px;
}

.log_inp {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.log_window {
    width: 460px;
    height: 517px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: fixed;
}

.svg {
    width: 20px;
    height: 20px;
}

.log_window {
    padding: 72px 32px 32px 32px;
}

.log_or_reg {
    display: flex;
    justify-content: space-around;
}

.log_inps {
    margin-top: 40px;
}

.log_or_reg button {
    all: unset;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #e83e2e;
    cursor: pointer;
}

.LFInput__input {
    padding: 0 12px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.LFIcon.size-16 svg {
    font-size: 16px;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.LFInput__wrapper.with-icon .LFIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.LFInput__wrapper {
    position: relative;
}

.LFInput__row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.LFIcon svg {
    position: relative;
    display: block;
    z-index: 1;
}

.login-form__field {
    margin-bottom: 18px;
}

.LFInput__input {
    padding-left: 0 36px;
}

.LFInputPassword__row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.LFInputPassword__wrapper {
    position: relative;
}

.LFIconLock {
    position: absolute;
    top: 16px;
    left: 12px;
    right: auto;
}

.LFInputPassword__input {
    padding: 12px 40px 12px 36px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    transition: color 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.LFInputPassword__visibility-toggler {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: auto;
    right: 0px;
    width: 36px;
    height: 100%;
    cursor: pointer;
}

.LFIconLock {
    position: absolute;
    top: 16px;
    left: 12px;
    right: auto;
}

.LFInputPassword__wrapper {
    position: relative;
}

.LFIconLock {
    position: absolute;
    top: 10px;
    left: 12px;
    right: auto;
}

.login-form__controls {
    text-align: center;
}

.LFButton {
    background-color: #e83e2e;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    min-width: 160px;
    border-radius: 30px;
    width: 295px;
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: 80px;
    right: 470px;
    cursor: pointer;
}

.forgot-password {
    cursor: pointer;
}

.log_inp {
    left: -100%;
}

.reg_inp {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.LFPhoneInput__mask-text {
    margin-left: 8px;
    margin-right: 16px;
}

.LFIconPhone {
    align-self: center;
    margin-top: 2px;
}


.LFPhoneInput__wrapper {
    display: flex;
    -webkit-box-align: baseline;
    align-items: center;
    flex-direction: row-reverse;
    height: 48px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    background-color: rgb(255, 255, 255);
    vertical-align: baseline;
}

.LFPhoneInput__input {
    background: transparent;
    font-size: 16px;
    height: 24px;
    width: 100%;
    border: none;
}

.LFInput {
    margin-top: 50px;
}

.underline {
    width: 100%;
    height: 20px;
    background-color: black;
}

.reg_btn {
    display: flex;
}

.registration-form__confirm {
    display: block;
    width: 100%;
    margin-bottom: 18px;
}

.registration-form__confirm-controls {
    display: flex;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.LFCheckbox {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.reg_inp {
    left: -100%;
}

.res_pass {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.resres {
    margin-top: 30px;
}

.res_win {
    height: 450px;
}

.asd {
    top: 120px;
}

.res_pass {
    left: -100%;
}

.user_button {
    border-radius: 50%;
}


.user_button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.user_button svg {
    width: 14px;
    height: 14px;
}

.user_button {
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user_button p {
    color: rgb(115, 125, 155);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.dropdown-menu-wrap {
    position: absolute;
    right: 0;
    padding-top: 10px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    z-index: 100000;
}

.user_info {
    position: relative;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(10, 19, 49, 0.08) 0px 4px 14px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    width: 400px;
}

.user-menu__list-item {
    margin-bottom: 12px;
    margin-top: 10px;
}

.LFLink {
    font-size: 16px;
    line-height: 24px;
    color: rgb(10, 19, 49);
    text-decoration: none;
}

.css-1qa90nz {
    position: relative;
    padding: 24px 16px;
    background: linear-gradient(45deg, rgb(21, 178, 241) 0%, rgb(11, 120, 227) 98.04%);
    border-radius: 12px;
}

.loggo {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 12px;
}

.loggo img {
    width: 120px;
    height: 20px;
}

.LFSubHeading.weight-500 {
    font-weight: 500;
}

.LFSubHeading.size-14 {
    font-size: 14px;
    line-height: 21px;
}

.LFSubHeading {
    text-align: center;
}

.LFButton.small {
    padding: 0 16px;
    font-size: 14px;
    line-height: 21px;
    min-width: 82px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #0a1331;
    border-radius: 20px;
}

.lalafo-club-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-menu-wrap {
    display: none;
}

.user_info {
    display: none;
}

.LFParagraph {
    cursor: pointer;
}

.code {
    display: none;
}

.values {
    width: 100%;
    text-align: center;
}

.values button {
    margin: 10px 0;
}

.values p {
    margin-bottom: 30px;
}

.gogle {
    cursor: pointer;
    width: 100px;
    background-color: white;
    border: 1px solid rgb(126, 126, 255);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.gogle img {
    width: 20px;
}

.LFInput {
    margin-top: 20px;
}

.LFButton {
    margin-top: 10px;
}

.slides {
    width: 600px;
}

.main_info {
    width: 600px;
}

.actions svg {
    width: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.subs {
    display: flex;
}

.contact_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f2f7;
}

.css-vams36 {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 0 16px;
}

.contact_block img {
    width: 40px;
}

.contact_block svg {
    width: 20px;
}

.LFButton.primary-pink {
    background-color: #ff2366;
    border: 2px solid transparent;
    color: #ffffff;
}

.userAvatarWrapper {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
}

.lazyloaded {
    border-radius: 50%;
}

.contact-block-profile-desktop__action-wrapper {
    margin: 0px;
    padding: 10px 0;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.phone-number__default {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 0;
}

.phone-number__wrap {
    display: flex;
    align-items: center;
}

.show-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.sub-heading {
    color: #ff2366;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
}

.details-page__params li {
    width: 50%;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.details-page__params {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

.LFParagraph {
    color: rgb(115, 125, 155);
    font-size: 14px;
    line-height: 21px;
}

.LFLink.weight-400 {
    font-weight: 400;
}


.details-page__price-bar {
    padding: 24px 16px 8px;
    border-bottom: 1px solid #d9dde7;
}

.ad-detail-price-container {
    padding: 16px;
}

.css-hpxiuh .LFHeading.weight-700 {
    font-weight: 700;
}

.details-page__user-info {
    padding: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.userAvatarWrapper {
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    display: flex;
    position: relative;
}

.userAvatar {
    min-width: 48px;
    width: 48px;
    min-height: 48px;
    height: 48px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 16px;
    cursor: pointer;
}

.userAvatar_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
}

.LFHeading.size-26 {
    font-size: 26px;
    line-height: 39px;
}

.text-area-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #d9dde7;
    background: #ffffff;
    border-radius: 6px;
    min-height: 150px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.LFButton.primary-green:not(.loading):disabled {
    background-color: #f0f2f7;
}

.LFButton:disabled {
    cursor: not-allowed;
    color: #a1a8bd;
}

.withHideSocialPhone {
    background: #f0f2f7;
    padding: 13px;
    margin-bottom: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

.breadcrumb li a {
    unicode-bidi: isolate;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.detail {
    display: flex;
    width: 960px;
    margin: 10px auto;
    justify-content: space-between;
}

.details-page__main-info {
    border: 1px solid #d9dde7;
    border-radius: 6px;
    width: 300px;
}

.user-info {
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-area-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #d9dde7;
    background: #ffffff;
    border-radius: 6px;
    min-height: 150px;
}

.msg-input {
    padding: 16px 16px 0;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    color: #0a1331;
    font: 14px / 1.5 'Ubuntu', sans-serif;
    outline: none;
    resize: none;
    border: none;
}

.horizontal-menu {
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    user-select: none;
}

.menu-item {
    margin-right: 8px;
    padding: 0 12px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background: #ff2366;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
}

.chat-wrapper {
    width: 100%;
}

.large {
    margin: 20px auto;
}

.description__wrap {
    margin: 20px 0;
}

.cat_links {
    margin: 20px 0;
    position: absolute;
    top: -50px;
}

.detail {
    position: relative;
    margin-top: 50px;
}

.likes {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.detail_adv {
    width: 80%;
    margin: 0 auto;
}

.sort_box {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.filter_box {
    position: sticky;
    top: 202px;
    min-width: 294px;
    width: 294px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(217, 221, 231);
    border-radius: 16px;
    max-height: calc(-200px + 100vh);
    overflow-y: auto;
}

.filter-navigation-tab-price-wrap {
    padding: 12px;
    font: inherit;
    vertical-align: baseline;
}

.filter-price-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.filter-prices-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LFSubHeading.size-14 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.LFChips {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    padding: 4px 8px;
    margin: 4px;
    border: 1px solid rgb(217, 221, 231);
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    max-width: 100%;
    border: 2px solid #ff2366;
}

.LFChips__input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.LFInput__input {
    height: 36px;
}

.filter-action-button-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 16px 8px;
    box-shadow: 0px 4px 15px 0px rgba(10, 19, 49, 0.12);
    background-color: #ffffff;
}

.search_btn {
    margin-bottom: 8px;
    background-color: #ff2366;
    color: #ffffff;
    border: 2px solid transparent;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    min-width: 108px;
    border-radius: 30px;

}

.sbros {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    min-width: 108px;
    padding: 0 24px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #737d9b;
    background: none;
}

.cards_box {
    width: 630px;
}

.dis_cards {
    width: 100%;
}

.card_ser {
    display: flex;
    width: 100%;
    height: 160px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
}

.card_image_ser {
    width: 260px;
    height: 100%;
}

.card_image_ser img {
    width: 100%;
    height: 100%;
}

.card_infos_ser {
    display: flex;
    flex-direction: column;
}

.cards_ser {
    gap: 20px;
}

.card_infos_ser {
    width: 100%;
    padding: 10px;
}

.old_price_ser {
    font-size: 14px;
}



.adv_box {
    width: 300px;
}

.advser {
    height: auto;
}


.cards_ser {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 10000012 !important;
}

.creating {
    padding: 20px;
}

.cre_title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(10, 19, 49);
}

.cre_imgs img {
    height: 130px;
}

.cre_category li {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ff2366;
    color: #ff2366;
    transition: .5s;
    cursor: pointer;
}

.cre_category li:hover {
    background-color: #ff2366;
    color: white;
}

.btn_cre {
    all: unset;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    background-color: #ff2366;
    border-radius: 5px;
    margin: 10px 0;
}

.cre_categorys ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 10px 0;
}

.cre_category_options ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.cre_category_options {
    margin: 10px 0;
}

.subcategoriesList {
    margin: 10px 0;
}

.disc_cre {
    padding: 12px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    resize: none;
    transition: 0.2s ease-in-out;
    font-family: inherit;
    border: 1px solid #ff2366;
}

.price_inp {
    padding: 12px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    width: 300px;
    height: 48px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.subsubcategoriesContainer ul {
    margin: 10px 0;
    display: flex;
}

.category_options {
    margin: 10px 0;
}

.main_set svg {
    width: 20px;
}

.set_p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #0a1331;
    margin: 20px 0;
}

.main_set {
    display: flex;
    width: 97%;
    margin: 20px auto;
    padding: 20px 30px;
    border: .5px solid rgb(218, 218, 218);
    border-radius: 20px;
}

.first_set {
    width: 280px;
    padding-right: 10px;
}

.main_info_set div {
    margin: 20px 0;
}

.second_set {
    width: 80%;
}

.set_inpt{
    padding: 12px;
    outline: none;
    background: #ffffff;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 48px;
    border: 1px solid #d9dde7;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}
.main_info_set textarea{
    width: 100%;
    padding: 12px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    border: 1px solid rgb(217, 221, 231);
    border-radius: 8px;
    resize: none;
    transition: 0.2s ease-in-out;
    font-family: inherit;
    min-height: 98px;
}

.set_button{
    font-size: 13px;
    line-height: 24px;
    height: 38px;
    min-width: 160px;
    color: #ffffff;
    border: 2px solid transparent;
    background-color: #e83e2e !important;
    border-radius: 20px;
}
.save_set{
    margin-left: 370px;
    text-align: center;
    margin-top: 30px;
}
.set_svg{
    border: 2px solid  #e83e2e;
    background-color: white !important;
    border-radius: 50%;
    padding: 5px;
    font-size: 2px;
}
.user_img_btn_set{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user_image_setin img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}


.mail_set{
    display: none;
}
.phone_set{
    display: none;
}
.pass_set{
    display: none;
}

.set_pp{
    font-size: 14px;
    line-height: 21px;
    color: rgb(115, 125, 155);
    margin-bottom: 10px ;
}

.set_list{
    display: flex;
}

.first_set ul{
    list-style: none;
}
.first_set li{
    width: 100%;
    border-radius: 5px;
    transition: .5s;
    padding: 10px;

}
.first_set li:hover{
    background-color: #e7e7e7;
}
.set_list{
    display: flex;
    align-items: center;
    gap: 8px;
}
.list_ds{
    color: #a1a8bd;
    font-size: 12px;
}